/* pacifico-regular - latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pacifico-v22-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/pacifico-v22-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/pacifico-v22-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pacifico-v22-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/pacifico-v22-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/pacifico-v22-latin-regular.svg#Pacifico') format('svg');
  /* Legacy iOS */
}

* {
  /* background-color: black; */
  color: #bb9d7b;
  margin: 0;
  padding: 0;
  font-family: Pacifico;
}

.App {
  background-color: black;
  height: 100vh;
}

.App>img,
svg {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.container {
  max-width: 1500px !important;
  margin: auto;
}

/* ----------------------------------------first------------------------------------------------------------ */
.first_section {
  background-color: black;
  font-family: pacifico;
}

.first_section .content {
  height: auto;
  padding: 20px 50px;
}

.first_section .content img {
  width: 17%;
  height: auto;
  padding-top: 5px;
  background-position: center;
  background-size: cover;
}

.first_section .content h2 {
  font-size: 50px;
  font-weight: 400;
  background-color: transparent;
}

.first_section .first_img {
  background: linear-gradient(rgba(3, 3, 3, 0.4), rgba(3, 3, 3, 0.4)), url(./images/1.1.JPG) !important;
  width: 100% !important;
  height: 600px;
  object-fit: cover !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

}

.first_section .first_img h1 {
  background-color: transparent;
  color: rgb(223, 223, 223);
  padding: 200px 50px !important;
}

.first_section h3 {
  word-spacing: 1px;
  line-height: 33px;
  letter-spacing: 1px;
}

@media screen and (max-width: 700px) {
  .first_section .content {
    padding: 15px 40px;
  }

  .first_section .content h2 {
    font-size: 40px;
  }

  .first_section .content img {
    width: 20%;
    height: auto;
    padding-top: 5px;
  }
}

@media screen and (max-width: 550px) {
  .first_section .content {
    padding: 15px 40px;
  }

  .first_section .content h2 {
    font-size: 40px;
  }

  .first_section .content img {
    width: 20%;
    height: auto;
    padding-top: 5px;
  }
}

@media screen and (max-width: 475px) {
  .first_section .content {
    padding: 10px 35px;
  }

  .first_section .content h2 {
    font-size: 30px;
  }

  .first_section .content img {
    width: 30%;
    height: auto;
    padding-top: 5px;
  }
}

@media screen and (max-width: 360px) {
  .first_section .content {
    padding: 5px 30px;
  }

  .first_section .content h2 {
    font-size: 20px;
  }

  .first_section .content img {
    width: 27%;
    height: auto;
    padding-top: 5px;
  }
}

/* ----------------------------------------paralex-------------------------------------------------- */
video {
  width: 100%;
  height: 350px;
  /* object-fit: cover; */
  background-position: center;
}

.video {
  background-color: black;
}

/* ----------------------------------------Count-------------------------------------------------- */
.count_image {
  background: linear-gradient(rgba(2, 3, 4, 0.3), rgba(2, 3, 4, 0.3)), url(./images/counter.2.JPG);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: auto;
}

.count_image h1 {
  letter-spacing: 1px;
  word-spacing: 3px;
  color: rgb(223, 223, 223);
}

.count_image h2,
.days,
span {
  color: rgb(223, 223, 223);
}

@media screen and (max-width: 550px) {

  .count_image span,
  .count_image div {
    font-size: 50px;
  }
}

@media screen and (max-width: 475px) {

  .count_image span,
  .count_image div {
    font-size: 45px;
  }
}

/* ----------------------------------------slider-------------------------------------------------- */
.slider {
  height: 70vh;
  background-color: black;
}

.slider_img img {
  width: 100%;
  height: 70vh !important;
  background-position: center;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
} 

.carousel .thumbs-wrapper {
  display: none;
}

.carousel .control-dots {
  display: none;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  display: none;
}

.slide selected previous {
  display: none;
}

/* ----------------------------------------multi-------------------------------------------------- */
.multi {
  background-color: black;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  display: none;
}

.owl-theme .owl-dots {
  display: none !important;
}


/* ----------------------------------------Date-------------------------------------------------- */

.date {
  background-color: black;
}

.bg_img {
  background: linear-gradient(rgba(3, 3, 3, 0.6), rgba(3, 3, 3, 0.6)), url(./images/date.2.jpg);
  height: auto;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.bg_img .content {
  padding: 90px;
}

.bg_img .content h2 {
  color: rgb(223, 223, 223);
  padding: 5px 0;
}

.bg_img .content h1 {
  color: rgb(223, 223, 223);
  padding: 5px 0;
}

/* ------------------------------------After_before------------------------------------------------- */
.ab_bg {
  background-color: black;
}

.after_before .box {
  width: 92%;
  margin: 0 auto;
  position: relative;
  perspective: 1500px;
}

.after_before .box .box_img1 {
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}

.after_before .box:hover .box_img1 {
  transform: rotateY(-90deg);
}

.after_before .box_img1 img {
  width: 100%;
  height: auto;
}

.after_before .box_img2 img {
  width: 100%;
  height: auto;

}

.after_before .box .box_img2 {
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
  position: absolute;
  top: 0;
  left: 0;
}

.after_before .box:hover .box_img2 {
  transform: rotateY(0deg);
}

/* ------------------------------------Footer------------------------------------------------- */
.footer {
  background-color: black;
}

.footer h1 {
  font-weight: 200;
}

.footer .forever img {
  width: 200px;
  height: auto;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

/* ----------------------------------------Icon--------------------------------------- */
.icon_bg {
  background-color: black;
}

.Icon ul {
  margin: 0%;
  padding: 0%;
}

.Icon ul li {
  list-style: none;
}

.Icon ul li span {
  position: relative;
  display: block;
  width: 65px;
  height: 64px;
  text-align: center;
  line-height: 63px;
  border: 2px solid #bb9d7b;
  background-color: transparent;
  border-radius: 50%;
  font-size: 30px;
  transition: .5s;
}

.Icon ul li span i {
  color: #bb9d7b;
}

.Icon ul li span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .5s;
  transform: scale(.9);
  z-index: 5;
}

.Icon ul li span:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 35px #bb9d7b;
  z-index: 5;
}

.Icon ul li span:hover {
  color: #bb9d7b;
  box-shadow: 0 0 5px #bb9d7b;
}

/* ----------------------------------------top--------------------------------------- */
.top_btn {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 22;
}

.top_btn button {
  border-radius: 50%;
  background-color: #bb9d7b;
  border: none;
  padding: 11px 15px;
  transition: 1s;
}

.top_btn button:hover {
  background-color: transparent;
  border: 3px solid #bb9d7b;
}

.top_btn button:hover i {
  color: #bb9d7b;
}

.top_btn button i {
  color: black;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}